@using taghelpers.Models

@model User

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <div bs-progress-max="5" bs-progress-min="1" bs-progress-value="2"></div>
    </div>
</div>
